.cityListElement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  background-color: var(--compBg);
  margin-bottom: 1rem;
  border-radius: 20px;
  padding-left: 1rem;
}

.favorite-checkbox {
  position: relative;
  cursor: pointer;
  margin-top: 0.6rem;
  width: 1.5rem;
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.star {
  font-size: 24px; /* Adjust the size of the star */
  color: var(--pageBg); /* Adjust the color of the star */
  background-color: transparent;
}

/* Add styles for the star when it's checked */
.favorite-checkbox input:checked + .star {
  color: #ffb429; /* Adjust the color of the checked star */
}

.weatherIcon {
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;
}

.cityLink {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px) {
  .cityListElement {
    grid-template-columns: 1fr 0.5fr 0.8fr 1fr 0.5fr;
  }
}
@media screen and (max-width: 450px) {
  .cityListElement {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
