.cityDetails {
  background-color: var(--pageBg);
  height: 80vh;
  padding-top: 8rem;
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 1420px) {
  .cityDetails {
    width: 60%;
    margin: auto;
  }
}
@media screen and (max-width: 900px) {
  .cityDetails {
    width: 90%;
    margin: auto;
  }
}
