input {
  border: none;
  padding: 1rem;
  height: 3.5rem;
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: var(--compBg);
  color: black;
  outline: none;
}

.homeSearch {
  margin: 1rem 1rem 0 1rem;
}

input::placeholder {
  color: #7d7c7c;
}

/* Hide the placeholder when the input is in focus */
input:focus::placeholder {
  color: transparent;
}
